 *{
     margin: 0px;
     padding: 0px;
 }





header, footer, nav, div{
     display: block;
 }

.clearfix:before, clearfix:after{
    content:"\0020";
    display: block;
    height:0;
    overflow: hidden;
}
#bodycontainer{
    background: #ffffff;
    width: 959px;
    margin: 0px auto;
    text-align: left;
}
.big_bodycontainer{
    background: url("fon.jpg") no-repeat center bottom;
}


 /* футер */

 .clearfix{
     clear: both;
 }

footer{
    width: 100%;
    background-color: #131313;

}
 #foot{
     margin: 0px auto;
     width: 959px;
     padding: 5px;
     background-color: #131313;
 }

 .footInfo{
     margin-left: 20px;
     border-bottom: 1px solid #333535;
     padding: 25px 0px 15px 0px;
 }

 .footInfoLeft{
     float: left;
     width: 340px;
     color: #898c87;
     font-size: 15px;
     line-height: 21px;}



 .footInfoRight{
     float: right;
     width: 540px;
     text-align: left;
 }
 .footInfoRight a,.footInfoRight a:link,.footInfoRight a:visited{
     float: left;
     width: 33%;
     margin-bottom: 18px;
     line-height: 29px;
     text-decoration: none;
     color: #e1e1e1;
 }
 .footInfoRight a:hover{
     color: #fff;
 }
 .footInfoRight a img{
     margin-right: 5px;
     vertical-align: middle;
 }
.footBottom {
    margin-left: 20px;
    padding: 20px 0px 10px 0px;
    color: #898c87;
    font-size: 15px;
    line-height: 21px;
}

/* футер*/

article{
    display: block;

}
h1{
    text-align: left;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 32px;
    padding-top: 11px;
}
h1 {
    color: #181919;
    font-weight: bolder;
    border-bottom: 3px solid #181919;
    display: block;
}
 .newsItemBlock {
     background-color: #fff;
     padding: 50px 40px;
 }
 .newsItemBlock {
     font-family: "PT Sans", sans-serif;
     text-align: justify;
     line-height: 1;
     color: #1f1f1f;
 }
 .newsItemBlock p{
     color: #181919;
     font-size: 16px;
     line-height: 30px;
     margin-bottom: 25px;
 }